<template lang="html">
  <div class="community-container">
    <!-- HEADER -->
    <div class="header-container">
      <!-- Bloque 1 United action network -->
      <div class="united-image" :style="{ 'background-image': 'url(' + url + ')' }">
        <!-- texto y botones -->
        <div class="united-info">
          <div class="logo">
            <img :src="logo" alt="">
          </div>
          <p class="text size-md white light">
            Together we can make a huge difference, United Action Network let you build personal networkswith your famly, friends and neighbors to create a safer life.
          </p>
          <div class="buttons">
            <button type="button" class="btn btn-outline-primary">
              <span class="text size-sm bold black uppercase ">SIGN UP NOW</span>
            </button>
            <div class="view-button">
              <div class="icon">
                <i class="mdi mdi-play-circle text size-xl yellow"></i>
              </div>
              <span class="text size-sm uppercase yellow">VIEW VIDEO</span>
            </div>
          </div>
        </div>
      </div>
      <!-- sección textos -->
      <div class="beSave">
        <div class="texts">
          <span class="title size-l gray light">Be safe, feel safe, think safe</span>
          <p class="text size-md light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis felis vel diam pellentesque, et ullamcorper massa sodales. Praesent feugiat dictum fringilla.
          </p>
        </div>
      </div>
      <!-- imagen mobile -->
      <div class="mobile">
        <img :src="mobile" alt="">
      </div>
    </div>
    <!-- BLOQUE 1 (FROM FAMILY...) -->
    <div class="block" v-for="(block, index) in block2" :key="index" :style="{ 'background-image': 'url(' + block.url + ')' }"  :class="block.position">
      <div class="block-info" :class="block.position">
          <span class="title size-xl light" v-if="block.title">{{block.title}}</span>
          <span class="title size-xl light">{{block.subtitle}}</span>
          <p class="text size-md white light">{{block.description}}</p>
      </div>
    </div>
    <!--  BLOQUE 2 (IMG + TEXT) -->
    <div class="block gray">
      <div class="img" :style="{ 'background-image': 'url(' + blockUrl + ')' }" ></div>
      <div class="block-info gray" >
          <span class="title size-xl light">Important notifications if something happens</span>
          <p class="text size-md white light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis felis vel diam pellentesque, et ullamcorper massa sodales. Praesent feugiat dictum fringilla.
          </p>
          <div class="buttons">
            <button type="button" class="btn btn-outline-primary gray">
              <span class="text size-sm bold uppercase gray">READ MORE</span>
            </button>
          </div>
      </div>
    </div>
    <!-- BLOQUE 3 (UAN SAFE) -->
    <div class="uan">
      <div class="header-uan">
        <span class="title size-l light gray">UAN-Safe <br> monitor, notify and overview incidents</span>
        <p class="text size-md light">
          Get realtime updates on emergencies and alerts in closeby areas or places you visit.
          Notify your networks if you need help, or just feel unsafe!
        </p>
      </div>
      <div class="content-uan">
        <div class="view">
          <div class="img-mac">
            <img :src="uanImg" alt="">
          </div>
          <div class="texts">
            <span class="text size-md white bold uppercase">STAY INFORMED</span>
            <p class="text size-sm light white">
              Realtime updates on accidents, alerts, RSS Feeds, Network Activities and more.
              Filter by location and places!
            </p>
          </div>
        </div>
        <div class="links">
          <div class="icon" v-for="(icon, index) in icons" :key="index">
            <div class="circle">
              <img :src="icon.url" alt="">
            </div>
            <span class="text size-sm lightGray">{{icon.title}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--  BLOQUE 4 (FEEL GOOD IN...) -->
    <div class="block" :style="{ 'background-image': 'url(' + block4URL + ')' }">
      <div class="icon-block4">
        <img :src="blockIcon" alt="">
      </div>
      <div class="block-info left" >
          <span class="title size-xl light">Feel good in your neigborhood</span>
          <p class="text size-md white light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis felis vel diam pellentesque, et ullamcorper massa sodales. Praesent feugiat dictum fringilla.
          </p>
          <div class="buttons">
            <button type="button" class="btn btn-outline-primary line-white">
              <span class="text size-sm bold uppercase white">READ MORE</span>
            </button>
          </div>
      </div>
    </div>
    <!--  BLOQUE 5 (IPHONES) -->
    <div class="block gray iphone" >
      <div class="iphone" v-for="(iphone, index) in iphones" :key="index">
        <img :src="iphone.url" alt="">
      </div>
    </div>
    <!-- BLOQUE 6 (NOTIFICATIONS) -->
    <div class="block gray notification-container" :style="{ 'background-image': 'url(' + block6 + ')' }">
      <div class="block6-notification" >
        <div class="links">
          <a href="" class="notification-btn" v-for="(notification, index) in notifications" :key="index">
            <span class="text size-l white uppercase bold">{{notification.letter}}</span>
          </a>
        </div>
        <div class="notification">
          <span class="text size-l white bold">Public SOS Emergency</span>
          <p class="text size-md white">
            Sending or recieveing an A grade emergency means that it’s a SOS alarm confirmed situation. It can be accidents, robberies, violence or other public concerns.
          </p>
        </div>
      </div>
      <div class="block-info gray" >
          <span class="title size-xl light">Anyone can help. From small to crucial concerns.</span>
          <p class="text size-md white light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis felis vel diam pellentesque, et ullamcorper massa sodales. Praesent feugiat dictum fringilla.
          </p>
          <div class="buttons">
            <button type="button" class="btn btn-outline-primary line-white">
              <span class="text size-sm bold uppercase white">READ MORE</span>
            </button>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['windowWidth'],
    data() {
      return {
        url: '../image/community/bloque1.jpg',
        logo: '../image/community/logo.svg',
        mobile: '../image/community/iphone0.png',
        block2: [
          {
            url: '../image/community/bloque2.jpg',
            subtitle: 'From family and friends to fellow citizens – togheter we  make the difference.',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis felis vel diam pellentesque, et ullamcorper massa sodales. Praesent feugiat dictum fringilla. ',
            position: 'left'
          },
        ],
        blockUrl: '../image/community/mobile.jpg',
        block4URL: '../image/community/neigborhood.jpg',
        blockIcon: '../icons/bloque-icon.png',
        uanImg: '../image/community/macbook.png',
        icons: [
          {
            url: '../icons/news.png',
            title: 'News Feed'
          },
          {
            url: '../icons/networks.png',
            title: 'Networks'
          },
          {
            url: '../icons/cases.png',
            title: 'Cases'
          },
          {
            url: '../icons/camera.png',
            title: 'Cameras'
          },
          {
            url: '../icons/activities.png',
            title: 'Activities'
          },
          {
            url: '../icons/sos.png',
            title: 'SOS / Alerts'
          },
        ],
        iphones: [
          {
            url: '../image/community/iphone.png',
          },
          {
            url: '../image/community/iphone2.png',
          },
          {
            url: '../image/community/iphone3.png',
          },
          {
            url: '../image/community/iphone4.png',
          },
        ],
        block6: '../image/community/notification.jpg',
        notifications: [
          {
            letter: 'A'
          },
          {
            letter: 'B'
          },
          {
            letter: 'C'
          },
          {
            letter: 'D'
          },
          {
            letter: 'S'
          },
        ]
      }

    },

    methods: {

    },
    mounted: function() {
    },
  }
</script>

<style lang="scss">
@import '~@/app.scss';
.community-container{
  width: 100%;
  height:100%;
  .header-container{
    width: 100%;
    position: relative;
    .united-image{
      width: 100%;
      height: 880px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      @media only screen and (max-width: 412px) {
        height: 480px;
      }
      .united-info{
        position: absolute;
        top: 50%;
        left: 109px;
        transform: translateY(-30%);
        width: 446px;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 412px) {
          width: 90% !important;
          left: 10% !important;
          transform: translateX(0);
        }
        @media only screen and (max-device-width: 768px){
          left: 0;
          top: 30%;
          // transform: translateX(-50%);
          width: 50%;
        }
        .logo{
          width: auto;
          height: 160px;
          img{
            width: auto;
          }
        }
        .buttons{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .btn-outline-primary{
            background: $yellow;
            background-image: none;
            border-radius: 20px;
            border: 0;
            margin-right: 15px;
            &:hover{
              background: $blue;
              .text{
                color: $white;
              }
            }
          }
          .view-button{
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover{
              .text{
                color: $blue;
              }
            }
            .icon{
              margin-right: 5px;
            }
          }
        }
      }
    }
    .beSave{
      width: 100%;
      height: 460px;
      background: $white;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      @media only screen and (max-width: 412px) {
        justify-content: flex-start;
        height: 260px;
      }
      .texts{
        width: 30%;
        height: auto;
        margin-bottom: 5%;
        @media only screen and (max-device-width: 768px){
          width: 80%;
          padding-left: 15%;
        }

      }
    }
    .mobile{
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 22;
      @media only screen and (max-width: 412px) {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 22;
      }
    }
  }
  .buttons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .btn-outline-primary{
      background: $white;
      background-image: none;
      border-radius: 20px;
      border: 0;
      margin-right: 15px;
      &:hover{
        background: $blue;
        .text{
          color: $white;
        }
      }
      &.line-white{
        background: transparent;
        color: $white;
        border: 2px solid white;
        &:hover{
          border: 2px solid $blue;
          .text{
            color: $blue;
          }
        }
      }
      &.gray{
        color: $darkGray;
        background: transparent;
        border: 2px solid $darkGray;
        &:hover{
          border: 2px solid $blue;
          .text{
            color: $blue;
          }
        }
        @media only screen and (max-width: 412px) {
          background: transparent;
          color: $white;
          border: 2px solid white;
          .text{
            color: $white;
          }
        }
        @media only screen and (max-device-width: 768px) {
          background: transparent;
          color: $white;
          border: 2px solid white;
          .text{
            color: $white;
          }
        }
      }
    }
    .view-button{
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover{
        .text{
          color: $blue;
        }
      }
      .icon{
        margin-right: 5px;
      }
    }
  }
  .block{
    width: 100%;
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width: 412px) {
      height: auto;
    }
    &.gray{
      height: 600px;
      background: $lightGray;

      &.iphone{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba($lightGray, .3);
        @media only screen and (max-width: 412px) {
          flex-wrap: wrap;
          height: auto;
        }
      }
    }
    .icon-block4{
      width: 100px;
      height: 100px;
      position: absolute;
      top: 36%;
      left: 60%;
      @media only screen and (max-device-width: 768px) {
        top: 5%;
      }
    }
    @media only screen and (max-width: 412px) {
      height: 400px;
    }
    &.right{
      justify-content: flex-end;
      @media only screen and (max-device-width: 768px){
        background-position: top;
        text-shadow: 2px 2px black;
      }
    }
    &.left{
      justify-content: flex-start;
    }
    .img{
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: flex-start;
      @media only screen and (max-device-width: 768px){
        width: 100%;
      }
    }
    .block-info{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 32%;
      display: flex;
      flex-direction: column;
      &.gray{
        left: 60%;
        @media only screen and (max-device-width: 768px){
          left: 10%;
        }
      }
      span:first-child{
        margin-bottom: 20px;
      }
      @media only screen and (max-width: 412px) {
        left: 50%;
        top: 30%;
        transform: translateX(0);
        width: 90% !important;
      }
      @media only screen and (max-device-width: 768px){
        width: 80%;
      }
      &.right{
        margin-right: 10%;
        @media only screen and (max-device-width: 768px){
          width: 50%;
          margin-right: 18%;
        }
      }
      &.left{
        margin-left: 5%;
        @media only screen and (max-device-width: 768px){
          left: 0;
        }
      }
    }
  }
  // BLOQUE 3 (UAN SAFE)
  .uan{
    width: 100%;
    height: 1010px;
    background: $white;
    display: flex;
    align-items: center;
    flex-direction: column;
    .header-uan{
      padding: 50px;
      width: 50%;
      text-align: center;
      @media only screen and (max-device-width: 768px) {
        width: 100%;
      }
    }
    .content-uan{
      width: 100%;
      .view{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        .img-mac{
          width: 50%;
          @media only screen and (max-device-width: 768px) {
            width: 100%;
          }
        }
        .texts{
          position: absolute;
          top: 50%;
          left: 7%;
          transform: translateY(-50%);
          background: $green;
          width: 25%;
          height: auto;
          border-radius: 30px;
          padding: 50px;
          text-align: center;
          @media only screen and (max-device-width: 768px) {
            width: 90%;
            top: 150%;
            transform: translateY(100%);
          }
        }
      }
      .links{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        @media only screen and (max-device-width: 768px) {
          flex-wrap: wrap;
        }
        @media only screen and (max-width: 412px) {
          flex-wrap: wrap;
        }
        .icon{
          width: 10%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          @media only screen and (max-device-width: 768px) {
            width: auto;
            margin-right: 20px;
          }
          .circle{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            background: $lightGray;
            justify-content: center;
            align-items: center;
            padding: 15px;
            &.active{
              background: $green;
            }
          }
        }
      }
    }
  }
  .notification-container{
    .block-info{
      @media only screen and (max-device-width: 768px){
        top: 28%;
      }
      @media only screen and (max-width: 412px) {
        top: 5%;
      }
    }
  }
  .block6-notification{
    width: 50%;
    height: 100%;
    display: flex;
    @media only screen and (max-device-width: 768px) {
      width: 100%;
      height: auto;
      flex-direction: column;
      position: absolute;
      top: 53%;
    }
    .links{
      width: 20%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      @media only screen and (max-device-width: 768px) {
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .notification-btn{
        width: 60px;
        height: 60px;
        background: transparent;
        border: 2px solid $lightGray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        &:hover, &:active{
          background: $red;
          border: 0;
        }
      }
    }
    .notification{
      position: absolute;
      top: 25%;
      left: 10%;
      transform: translateY(-50%);
      background: $red;
      width: 25%;
      height: auto;
      border-radius: 30px;
      padding: 30px;
      text-align: left;
      @media only screen and (max-device-width: 768px) {
        width: 90%;
        top: 90%;
        padding: 20px;
        left: 50%;
        transform: translateX(-50%);
      }

    }

  }

}
</style>
