<template>
  <div class="content-footer">
    <!-- Secciones con links -->
    <div class="row">
      <!-- cada sección -->
      <div class="links">
        <div class="col-sm" v-for="(section, index) in sections" :key="index">
          <div class="col-title">
            <span class="text size-sm bold">{{section.name}}</span>
          </div>
          <div class="col-content">
            <a class="nav-link" :href="option.link" v-for="(option, index) in section.options" :key="index" v-if="pathname == option.view || option.view == 'all' ">
              <span class="text size-sm light lightGray">{{option.name}}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm getUpdate">
        <div class="col-title">
          <span class="text size-sm bold">GET UPDATES</span>
        </div>
        <div class="col-content">
          <!-- input enviar email -->
          <form class="form" action="index.html" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="E-mail address" aria-label="E-mail address" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-chevron-right text size-md lightGray"></i>
                </button>
              </div>
            </div>
          </form>
          <div class="logo-footer">
            <div class="img">
                <img :src="url" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Información página (redes social) -->
    <div class="info">
      <div class="social-media">
        <a class="link social " href="">
          <i class="mdi mdi-facebook text size-md lightGray"></i>
        </a>
        <a class="link social" href="">
          <i class="mdi mdi-twitter text size-md lightGray"></i>
        </a>
        <a class="link social" href="">
          <i class="mdi mdi-google-plus text size-md lightGray"></i>
        </a>
      </div>
      <div class="info-policy">
        <a class="nav-link link" href="">
          <span class="text size-s light lightGray uppercase">TERMS OF SERVICE</span>
        </a>
        <a class="nav-link link" href="">
          <span class="text size-s light lightGray uppercase">PRIVACY POLICY</span>
        </a>
        <a class="nav-link link" href="">
          <span class="text size-s light lightGray uppercase">COOKIE POLICY</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        props: ['pathname'],
        data: function() {
          return {
            url: false,
            sections: [
              {
                id: 'product-footer',
                name: 'PRODUCT',
                options: [
                  {
                    view: 'all',
                    name: 'Omni-System',
                    link: 'Omni-System'
                  },
                  {
                    view: '/',
                    name: 'UAN-Safe™',
                    link: 'UAN-Safe'
                  },
                  {
                    view: '/community',
                    name: 'How it works',
                    link: 'Works'
                  },
                ]
              },
              {
                id: 'company-footer',
                name: 'COMPANY',
                options: [
                  {
                    view: 'all',
                    name: 'About Us',
                    link: 'About'
                  },
                  {
                    view: '/community',
                    name: 'Corporate',
                    link: 'Corporate'
                  },
                  {
                    view: 'all',
                    name: 'Job Openings',
                    link: 'Job'
                  }
                ]
              },
              {
                id: 'support-footer',
                name: 'SUPPORT',
                options: [
                  {
                    view: 'all',
                    name: 'Contact',
                    link: 'Contact'
                  },
                  {
                    view: 'all',
                    name: "FAQ's",
                    link: 'Corporate'
                  },
                  {
                    view: 'all',
                    name: 'Downloads',
                    link: 'Downloads'
                  }
                ]
              },
            ],
          }
        },
        mounted() {
            this.url = '../image/D42DCE1CF3932635.png';
        },
    }
</script>

<style lang="scss">
  @import '~@/app.scss';
  .content-footer{
    padding: 3% 5%;
    .nav-link{
      padding: 0;
      border-bottom: 2px solid transparent;
      &:hover{
        border-bottom: 2px solid $lightGray;
        .text{
          color: $lightGray;
        }
      }
      &.selected{
        border-bottom: 2px solid $darkGray;
      }
    }
    .row{
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: space-between;
      margin: 0;
      flex-wrap: wrap;
      @media only screen and (max-device-width: 768px){
        flex-direction: column;
      }
      .links{
        width: 75%;
        display: flex;
        @media only screen and (max-device-width: 768px){
          width: 100%;
        }
      }
      .col-sm{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &:first-child{
          align-items: flex-start;
        }

        .col-title, .col-content{
          width: 50%;
        }
        .col-title{
          margin-bottom: 10px;
          height: 10%;
        }
        .col-content{
          height: calc(90% - 10px);
          .form{
            height: 20%;
          }
          .logo-footer{
            height: 80%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-bottom: 20px;
            .img{
              width: auto;
              height: 50%;
            }
          }
        }
        .btn-outline-secondary {
            color: $lightGray;
            background-color: transparent;
            background-image: none;
            border-color: $lightGray;
        }
      }
      .getUpdate{
        align-items: flex-end;
        padding-right: 0;
        width: 25%;
        @media only screen and (max-device-width: 768px){
          width: 100%;
          justify-content: center;
          align-items: center;
          .col-title{
            text-align: center;
          }
          .col-content{
            width: 60%;
            display: flex;
            align-items: center;
            height: auto;
            .logo-footer{
              height: 100%;
              width: auto;
              align-items: center;
            }
          }
        }
      }
    }
    .info{
      width: 100%;
      height: 20%;
      border-top: 1px solid $lightGray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .social-media, .info-policy{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .link{
          margin-right: 10px;
          &.social{
            &:hover{
              i{
                color: $blue;
              }
            }
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }

  }
</style>
