<template>
  <div class="modal fade" id="modal" :class="{'show': active || activeSign}">
    <div class="modal-hidden" @click="hiddenModal"></div>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img :src="modalLogo" alt="">
        </div>
        <div class="modal-body">
          <swiper :options="swiperOption" ref="swpLogin" v-if="activeLogin == true">
            <!-- Login section -->
            <swiper-slide class="login">
              <div class="login-form">
                <span class="text size-l light header">Log in with your Intrasenze account</span>
                <div class="form">
                  <input type="text" class="form-control" placeholder="E-mail address" aria-label="E-mail address" aria-describedby="E-mail">
                  <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="Password">
                  <button type="button" class="btn btn-blue">
                    <span class="text size-sm light white" >Login</span>
                  </button>
                  <a class="nav-link" @click="swiperTo(1)">
                    <span class="text size-s light lightGray">Forgot password?</span>
                  </a>
                </div>
                <button type="button" class="btn btn-secondary" @click="CreateAccount">
                  <span class="text size-sm white light">Create an account </span>
                </button>
              </div>
            </swiper-slide>
             <!-- sección olvide la comtra  -->
            <swiper-slide class="signUp">
              <div class="header">
                <span class="text size-l light">Reset password</span>
                <span class="text size-sm light">Enter your email address and we'll send you instructions on how to reset your password.</span>
              </div>
              <div class="form">
                <input type="text" class="form-control" placeholder="E-mail address" aria-label="E-mail address" aria-describedby="E-mail">
                <button type="button" class="btn btn-blue">
                  <span class="text size-sm light white" >Reset password</span>
                </button>
                <a class="nav-link" @click="swiperTo(0)">
                  <span class="text size-s light">Back to login</span>
                </a>
              </div>
            </swiper-slide>
          </swiper>
          <div class="singUp-form" v-if="activeSign == true">
            <span class="text size-l light header">Create your Intrasenze account</span>
            <div class="form">
              <multiselect
                v-model="selected"
                :options="options"
                placeholder="Selecciona país"
                class="input">
              </multiselect>
              <input type="text" class="form-control input" placeholder="E-mail address" aria-label="E-mail address" aria-describedby="E-mail">
              <input type="text" class="form-control input" placeholder="Password" aria-label="Password" aria-describedby="Password">
              <input type="text" class="form-control input" placeholder="Repeat password" aria-label="RepeatPassword" aria-describedby="RepeatPassword">
              <button type="button" class="btn btn-blue">
                <span class="text size-sm light white" >Sign up</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script>
  import Multiselect from 'vue-multiselect'
  import VueAwesomeSwiper from 'vue-awesome-swiper';
  // require styles
  import 'swiper/dist/css/swiper.css';
  Vue.use(VueAwesomeSwiper);
  export default {
    props: ['activeLogin','activeSign','active'],
    components: { Multiselect },
    data: function() {
      return {
        modalLogo: '../image/logo-black.svg',
        selected: null,
        options: ['España','Italia'],
        swiperOption: {
          initialSlide:1,
          simulateTouch: false,
          on: {
            slideChange: function(){
            },
          },
        },
      }
    },
    watch:{
      active(n,o){
        if (this.active != this.activeSign) {
          console.log('diferente');
        }
      }
    },
    methods: {
      swiperTo(index){
        this.swiper.slideTo(index, 1000, false)
      },
      hiddenModal(){
        let activeModal = false;
        this.$emit('hiddenClick', activeModal);
      },
      CreateAccount(){

        let activeModal = false;
        this.$emit('redirectValue', activeModal);
      },
    },
  }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
  @import '~@/app.scss';
  // estilo Botones
  .btn-blue{
    width: 100%;
    background: $blue;
    border: 0;
  }
  .btn-secondary{
    width: 100%;
    background: $lightGray;
    border: 0;
  }
  // pops up
  .modal-dialog{
    max-width: 30%;
    .modal-content{
      padding: 20px;
      .modal-header{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        img{
          width: 50%;
          height: auto;
        }
      }
      .modal-body{
        .login-form{
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          height: 100%;
          width: 100%;
          .header{
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
          }
          .form{
            margin-bottom: 10px;
            border-bottom: 1px solid $lightGray;
            input{
              margin-bottom: 10px;
            }
            .nav-link{
              width: 100%;
              text-align: center;
            }
          }
        }
        .signUp{
          .header{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .size-l{
              margin-bottom: 10px;
            }
            .size-sm{
              width: 70%;
            }




          }
          .form{
            input{
              margin-top: 50px;
              margin-bottom: 10px;
            }
            .nav-link{
              text-align: center;
            }
          }
        }
        .singUp-form{
          text-align: center;
          .form{
            margin-top: 20px;
          }
          .input{
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .multiselect__option--highlight {
    background: $blue;
    outline: none;
    color: #fff;
    &:after{
      background: $blue;
    }
  }
</style>
