<template>
  <headroom :options="options">
    <header>
      <nav class="navbar fixed-top navbar-light headroom" :class="menuVersion" v-if="loadMenu">
        <!-- Logotipo con redirección a Home -->
        <a class="navbar-brand" href="/">
          <img :src="url" alt="">
        </a>
        <!-- Enlaces a las distintas secciones -->
        <div class="links" v-if="windowWidth >= '1224'">
          <nav-link v-for="(view, index) in views" :view="view" :menuVersion="menuVersion" :key="index" :class="view.id" @saveSelect="SelectedItem" :selected="selected"></nav-link>
        </div>
        <!-- Seccion sign up, login, compras y submenu -->
        <div class="user-interactive" v-if="windowWidth >= '1224'">
          <div class="login">
            <a class="nav-link login" @click="openModal('login')">
              <span v-if="menuVersion == 'white'" class="text size-sm light lightGray uppercase" >Login</span>
              <span v-if="menuVersion == 'black'" class="text size-sm light white uppercase">Login</span>
            </a>
          </div>
          <!-- Botones de registro de Home y compra de community -->
          <div class="butons">
            <button type="button" class="btn btn-outline-primary" v-if="menuVersion == 'white'" @click="openModal('singup')">
              <span class="text size-sm bold uppercase blue">Sign Up</span>
            </button>
            <button type="button" class="btn btn-outline-primary white" v-if="menuVersion == 'black'">
              <span class="text size-sm bold uppercase white" >Buy Now</span>
            </button>
          </div>
          <div class="shopping" v-if="menuVersion == 'white'">
            <div class="icon">
              <i class="fas fa-shopping-cart text size-md lightGray"></i>
            </div>
            <div class="icon">
                <i class="fas fa-circle text size-xl lightGray"></i>
                <div class="sales">
                  <span class="text size-s white">1</span>
                </div>
            </div>
          </div>
        </div>
        <div class="submenu" v-if="windowWidth <= '768'">
          <!-- <div class="icon">
              <i class="fas fa-bars text size-xl white"></i>
          </div> -->
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars text size-xl lightGray"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <nav-link v-for="(view, index) in views" :view="view" :menuVersion="menuVersion" :key="index" :class="view.id" @saveSelect="SelectedItem" :selected="selected"></nav-link>
              <div class="dropdown-divider"></div>
              <a class="nav-link login" @click="openModal('login')">
                <span v-if="menuVersion == 'white'" class="text size-sm light lightGray uppercase" >Login</span>
                <span v-if="menuVersion == 'black'" class="text size-sm light white uppercase">Login</span>
              </a>
              <button type="button" class="btn btn-outline-primary" v-if="menuVersion == 'white'" @click="openModal('singup')">
                <span class="text size-sm bold uppercase blue">Sign Up</span>
              </button>
              <button type="button" class="btn btn-outline-primary white" v-if="menuVersion == 'black'">
                <span class="text size-sm bold uppercase white" >Buy Now</span>
              </button>
            </div>
          </div>
        </div>

      </nav>
    </header>
  </headroom>
</template>
<script>
  import { headroom } from 'vue-headroom'
  export default {
      props: ['pathname','windowWidth'],
      components: {
        headroom
      },
      data: function(){
        return {
          loadMenu: false,
          // variable para definir que estilo de logotipo aparecerá
          url: false,
          // vistas de la página
          views: [
            {
              id: 'products',
              name: 'Products'
            },
            {
              id: 'community',
              name: 'Community'
            },
            {
              id:'accounts',
              name: 'Accounts & Plans'
            },
            {
              id: 'about',
              name: 'About'
            },
          ],
          // Variable para aplicar el estilo de selección en los links
          selected: false,
          // cargar menu con opciones Home == white o con opciones Community == black
          menuVersion: 'white',

          // opciones animación
          options: {
            offset: 500
          }
        }
      },
      watch: {
        modal(newValue, OldValue){
          console.log('click loin');
        }
      },
      methods: {
        SelectedItem(selectedActive, elem){
          console.log(this.selected);
          console.log(selectedActive);

          // this.selected = false;
          // if (this.selected != selectedActive) {
          //   this.selected = true;
          //
          // } else {
          //   this.selected = false;
          // }
        },
        openModal(type){
          console.log(type);
          this.$emit('saveModal', type);
        }
      },
      mounted() {
        if (this.pathname == '/') {
          this.url = '../image/logo-black.svg';
          this.menuVersion = 'white';
          this.loadMenu = true;
        } else if (this.pathname == '/community'){
          this.menuVersion = 'black';
          this.url = '../image/logo-white.svg';
          this.loadMenu = true;
        }
      },
  }
</script>

<style lang="scss">
  @import '~@/app.scss';
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.white{
      background: $white;
    }
    &.black{
      background: transparent;
    }
    .navbar-brand{
      width: auto;
      height: 100%;
      @media only screen and (max-width: 412px) {
        width: 50%;
        height: auto;
      }
    }
    // contenedor donde estan todos los enlaces
    .links{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      // estilo de cada enlace
      .nav-link{
        padding: 0;
        border-bottom: 2px solid transparent;
        &:hover{
          border-bottom: 2px solid $lightGray;
          .text{
            color: $lightGray;
          }
        }
        &.selected{
          border-bottom: 2px solid $darkGray;
        }
      }
    }
    .user-interactive{
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .nav-link{
        height: 100%;
        padding: 0;
        border-bottom: 2px solid transparent;
        margin-right: 10px;
        &:hover{
          border-bottom: 2px solid $lightGray;
          .text{
            color: $lightGray;
          }
        }
        &.selected{
          border-bottom: 2px solid $darkGray;
        }
      }
      .btn-outline-primary{
        color: $blue;
        background-color: transparent;
        background-image: none;
        border: 2px solid $blue;
        border-radius: 20px;
        &:hover{
          background: $blue;
          .text{
            color: $white;
          }
        }
        &.white{
          color: $white;
          border: 2px solid white;
        }
      }
      .butons{
        height: 100%;
        margin-right: 15px;
      }
      .shopping{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .icon{
          width: auto;
          height: 100%;
          // margin-right: 5px;
          position: relative;
          padding: 5px;
          .sales{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-60%,-60%);
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .btn-secondary{
      background: transparent;
    }
    .dropdown-toggle {
        color: transparent !important ;
        background-color: transparent !important;
        ::after{
          border-right: 0 !important;
          border-bottom: 0;
          border-left: 0 !important;
        }
    }
    .dropdown-menu{
      right: 0 !important;
      left: auto;
      min-width: 15rem;
      text-align: center;
      text-align: center !important;
    }

  }
  // animaciones menu
  .headroom {
      will-change: transform;
      transition: transform 200ms linear;
  }
  .headroom--pinned {
      transform: translateY(0%);
  }
  .headroom--unpinned {
      transform: translateY(-100%);
  }
</style>
