<template lang="html">
  <a class="nav-link"  :class="{ 'selected': selected}" v-if="menuVersion == 'white'">
    <span class="text size-sm light" @click="changeView">{{view.name}}</span>
  </a>
  <a class="nav-link" :href="view.id" :class="{ 'selected': selected}" v-else="menuVersion == 'black'">
    <span class="text size-sm light white" @click="changeView">{{view.name}}</span>
  </a>
</template>

<script>
export default {
  props: ['view','selected','menuVersion'],
  data(){
    return{

    }
  },
  watch: {
    selected(newValue, OldValue){
      console.log(this.selected);
    }
  },
  methods: {
    changeView(){
      let selectedActive = !this.selected;
      this.$emit('saveSelect', selectedActive, this);
    }
  },
  mounted(){
    console.log(this.menuVersion);
  }

}
</script>
