<template lang="html">
  <div class="page">
    <menu-component :pathname="pathname" v-if="pathname" :windowWidth="windowWidth" class="menu" @saveModal="activeModal"></menu-component>
    <!-- popups  -->
    <!-- Login  -->
    <login :activeLogin="activeLogin" :activeSign="activeSign" :active="active" @hiddenClick="hiddenModal" @redirectValue="redirectToSignUp"></login>
    <!-- Sign up  -->

    <!-- Contenido de cada página  -->
    <div class="content-page">
      <home-page :windowWidth="windowWidth" v-if="pathname == '/'"></home-page>
      <community-page :windowWidth="windowWidth" v-if="pathname == '/community'"></community-page>
    </div>
    <footer-page class="footer" :pathname="pathname"></footer-page>
  </div>
</template>

<script>
export default {
  data() {
    return {
      windowWidth: '',
      pathname: '',
      activeLogin: false,
      activeSign: false,
      active: false,
      ops: {
        vuescroll: {
          mode: 'native',
          rail: {
            vRail: {
              width: '6px',
              pos: 'right',
              background: '#01a99a',
              opacity: 0
            },
            //
            hRail: {
              height: '6px',
              pos: 'bottom',
              background: '#01a99a',
              opacity: 0
            }
          },
          bar: {
            showDelay: 500,
            vBar: {
              background: '#00a650',
              keepShow: false,
              opacity: 1,
              hover: false
            },
            //
            hBar: {
              background: '#00a650',
              keepShow: false,
              opacity: 1,
              hover: false
            }
          }
        }
      }
    }

  },

  methods: {
    loadData: function () {
      this.pathname = window.location.pathname;
      this.windowWidth = $(document).width();
    },
    activeModal(type){
      if (type == 'login') {
        this.activeSign = false;
        this.activeLogin = true;
      } else if (type == 'singup') {
        this.activeLogin = false;
        this.activeSign = true;
      }
      if (this.active) {
        this.active = false;
      } else{
        this.active = true;
      }
    },
    hiddenModal(hidden){
      this.active = hidden;
    },
    redirectToSignUp(active){
      this.active = false;
      this.activeSign = true;
      console.log(this.active, this.activeSign);
    },
  },
  mounted: function() {
    this.loadData();
  },
}
</script>

<style lang="scss">
</style>
