.title {
  color: #fff;
}

.title.size-xl {
  font-size: 2.8rem;
}

.title.size-l {
  font-size: 2.5rem;
}

.title.blue {
  color: #66aae0;
}

.title.gray {
  color: #5f5f5f;
}

.title.light {
  font-family: "gotham light";
}

.title.medium {
  font-family: "gotham medium";
}

.title.bold {
  font-family: "gotham bold";
}

.text {
  color: #5f5f5f;
}

.text.size-xl {
  font-size: 1.5rem;
}

.text.size-l {
  font-size: 1.25rem;
}

.text.size-md {
  font-size: 1.1rem;
}

.text.size-sm {
  font-size: 1rem;
}

.text.size-s {
  font-size: .8rem;
}

.text.white {
  color: #fff;
}

.text.lightGray {
  color: #c0c0c0;
}

.text.blue {
  color: #66aae0;
}

.text.black {
  color: 0;
}

.text.yellow {
  color: #e6bc3c;
}

.text.green {
  color: #38a53b;
}

.text.light {
  font-family: "gotham light";
}

.text.medium {
  font-family: "gotham medium";
}

.text.bold {
  font-family: "gotham bold";
}

.text.uppercase {
  text-transform: uppercase;
}

.page {
  width: 100%;
  height: auto;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal .modal-hidden {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal .fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.modal.show {
  display: block;
}

.modal.show .fade {
  opacity: 1;
}

ul,
li,
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

a:hover,
a:focus,
a:active {
  outline: 0;
  text-shadow: none;
}

.vuescroll-content {
  width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "gotham";
}

@media only screen and (max-width: 412px) {
  html {
    font-size: 10px;
  }
}

body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#modal button:hover {
  background: black !important;
}

.menu {
  width: 100%;
  height: 70px;
}

.content-page {
  width: 100%;
  height: auto;
}

.footer {
  width: 100%;
  height: 456px;
}

