/** Bold */

@font-face {
  font-family: "gotham bold";
  font-style: bold;
  src: url(/fonts/gotham-bold-webfont.woff2?9d59d01bc7959f2c390357b6b38927d8) format("woff2"), url(/fonts/gotham-bold-webfont.woff?5469413a350df974b4ed3a3d33f1a426) format("woff");
}

/** Regular */

@font-face {
  font-family: "gotham";
  font-style: normal;
  src: url(/fonts/gotham-book-webfont.woff2?544ca825f85b577d34b8347799f0d87f) format("woff2"), url(/fonts/gotham-book-webfont.woff?2c00ed71bd127f1995a5488fa8425b34) format("woff");
}

/** Light */

@font-face {
  font-family: "gotham light";
  src: url(/fonts/gotham-light-webfont.woff2?4b81278a4c3e32df8fbaf1d4369ad03e) format("woff2"), url(/fonts/gotham-light-webfont.woff?2822da6c5e392cca046a343eec8a8a5b) format("woff");
}

/** Medium Regular */

@font-face {
  font-family: "gotham medium";
  font-style: medium;
  src: url(/fonts/gotham-medium-webfont.woff2?ef2a6206561fc87da1306b0009d31a7a) format("woff2"), url(/fonts/gotham-medium-webfont.woff?7d4341ff416d2cc45d176b026caa2246) format("woff");
}

* {
  font-family: "gotham";
}

