.page{
  width: 100%;
  height: auto;
}
// modal Estilos
.modal{
  width: 100%;
  height: 100%;
  background: rgba(black,.6);

  .modal-hidden{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .fade{
    opacity: 0;
    transition: opacity .15s linear;
  }
  &.show{
    display: block;
    .fade{
      opacity: 1;
    }
  }
}
ul,li, a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.container{
  margin:0;
}
.swiper-container{
  width: 100%;
  height: 100%;
}
img{
  width: 100%;
  height: 100%;
}
a {
  cursor: pointer;
  &:hover, &:focus,&:active{
    outline: 0;
    text-shadow: none;
  }
}
// Estilos vue-scroll
.vuescroll-content{
  width: 100%;
  height: auto;
}


* {
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    font-size:16px;
    font-family: "gotham";
    @media only screen and (max-width: 412px) {
      font-size:10px;
    }
}
body{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
