// estilos para los titulares
.title{
  color: $white;
  //tamaño letra
  &.size-xl{
    font-size: 2.8rem
  }
  &.size-l{
    font-size: 2.5rem;
  }
  //Colores
  &.blue{
    color: $blue;
  }
  &.gray{
    color: $darkGray;
  }
  // estilos tipografia
  &.light{
    font-family: "gotham light";
  }
  &.medium{
    font-family: "gotham medium";
  }
  &.bold{
    font-family: "gotham bold";
  }
}
// estilos para textos
.text{
  color: $darkGray;
  // tamaños de letra
  &.size-xl{
    font-size: 1.5rem
  }
  &.size-l{
    font-size: 1.25rem
  }
  &.size-md{
    font-size: 1.1rem;
  }
  &.size-sm{
    font-size: 1rem;
  }
  &.size-s{
    font-size: .8rem;
  }
  // Colores
  &.white{
    color: $white;
  }
  &.lightGray{
    color: $lightGray;
  }
  &.blue{
    color: $blue;
  }
  &.black{
    color: $black;
  }
  &.yellow{
    color: $yellow;
  }
  &.green{
    color: $green;
  }
  // estilos tipografia
  &.light{
    font-family: "gotham light";
  }
  &.medium{
    font-family: "gotham medium";
  }
  &.bold{
    font-family: "gotham bold";
  }
  &.uppercase{
    text-transform: uppercase;
  }

}
