
// Colores
@import "_colors";
// Estilo Texto
@import "_text";
// Estilos basicos
@import "_basic";

#modal{
  button:hover{
    background: black !important;
  }
}
//Estructura básica de todas las pantallas
// Medidas menu
.menu{
  width: 100%;
  height: 70px;
}


// Contenedor de cada página
.content-page{
  width: 100%;
  height: auto;
  // padding-top: 70px; // equivale a la altura del menu
}
// Contenedor footer
.footer{
  width: 100%;
  height: 456px;
}
