
/** Bold */
@font-face {
  font-family: "gotham bold";
  font-style: bold;
  src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
       url('../fonts/gotham-bold-webfont.woff') format('woff');
}
/** Regular */
@font-face {
  font-family: "gotham";
  font-style: normal;
  src: url('../fonts/gotham-book-webfont.woff2') format('woff2'),
       url('../fonts/gotham-book-webfont.woff') format('woff');
}
/** Light */
@font-face {
  font-family: "gotham light";
  src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
       url('../fonts/gotham-light-webfont.woff') format('woff');
}
/** Medium Regular */
@font-face {
  font-family: "gotham medium";
  font-style: medium;
  src: url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
       url('../fonts/gotham-medium-webfont.woff') format('woff');
}

* {
    font-family: "gotham";
}
